@use "@angular/material" as mat;

:host {
  display: block;
}

section.ib-filter {
  opacity: 1;
  overflow: hidden;
  padding:5px;
  word-wrap: nowrap;


  &__list {
    display: flex;
    max-height: 56px;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    align-items: center;

    gap: 0.4em;
    @include mat.button-density(-1);

    .ib-filter-button,
    .ib-add-filter-button {
      font-size: 12px;
      border-radius: 20px;
      flex-shrink: 0;
    }

    .ib-add-column-filter-button
    .mdc-evolution-chip__cell--primary
    .mdc-evolution-chip__action {
      padding-left: 0;
    }

    mat-icon:first-child {
      margin: 0 12px;
      flex-shrink: 0;
    }

    ib-search-bar {
      flex: 1 1 120px;
      min-width: 0;
    }
  }
}

.cdk-overlay-container .mat-mdc-menu-panel {
  overflow-x: hidden;
  border-radius: 8px;
  margin-top: 8px;
}
