@use "@angular/material" as mat;

section.ib-filter-list {
  height: 0;
  padding: 0;
  opacity: 0;
  display: flex;
  flex-wrap: wrap;

  gap: 0.4em;
  @include mat.button-density(-1);
  transition: all 220ms cubic-bezier(0.16, 1, 0.3, 1), opacity 60ms ease-out;

  &.ib-filter-list__show {
    height: max-content;
    padding: 8px 0 16px 0;
    opacity: 1;
    transition: all 220ms cubic-bezier(0.16, 1, 0.3, 1);
  }

  .ib-filter-button,
  .ib-add-filter-button {
    font-size: 12px;
    border-radius: 20px;
  }

  .ib-add-column-filter-button
    .mdc-evolution-chip__cell--primary
    .mdc-evolution-chip__action {
    padding-left: 0;
  }
}

.cdk-overlay-container .mat-mdc-menu-panel {
  overflow-x: hidden;
  border-radius: 8px;
  margin-top: 8px;
}
