@use '@angular/material' as mat;
@use '../inobeta-ui/ui' as ui;
@include mat.core();

// Define the default theme (same as the example above).
$app-primary: mat.define-palette(mat.$deep-purple-palette);
$app-accent: mat.define-palette(mat.$amber-palette, A200, A100, A400);
$app-warning: mat.define-palette(mat.$red-palette);

$light-theme: mat.define-light-theme((
  color: (
    primary: $app-primary,
    accent: $app-accent,
    warning: $app-warning
  )
));

$dark-theme: mat.define-dark-theme((
 color: (
   primary: mat.define-palette(mat.$purple-palette),
   accent: mat.define-palette(mat.$amber-palette),
   warning: $app-warning
 ),
));

// Include the default theme styles.
@include ui.theme($light-theme);

@media (prefers-color-scheme: dark) {
  @include ui.theme($dark-theme);
  @include mat.all-component-colors($dark-theme);
}