<div [formGroup]="form">

  <section *ngFor="let line of lines; let index = index" style="display: flex; gap: 1em">
    <ng-container *ngFor="let field of line">
      <ng-container [ngSwitch]="field.role">
        <ib-dynamic-form-control *ngSwitchCase="'control'" class="ibFormRow" [base]="field"
          [form]="getGroupAt(index)"></ib-dynamic-form-control>
        <!-- <ib-dynamic-form-array *ngSwitchCase="'array'" class="ibFormRow" [base]="field" [form]="form"></ib-dynamic-form-array> -->
      </ng-container>
    </ng-container>
    <div class="ibFormRow ibFormActions">
      <button *ngIf="lines.length > 1" (click)="removeField(index)">-</button>
      <button *ngIf="lines.length - 1 === index" (click)="addField()">Add</button>
    </div>
  </section>

</div>