<div [formGroup]="form">

  @for (line of array.controls; track line; let index = $index) {
    <section class="ibFormArrayItem">
      @for (field of base.fields; track field) {
        @switch (field.role) {
          @case ('control') {
            <ib-dynamic-form-control class="ibFormRow" [base]="field"
            [form]="getGroupAt(index)"></ib-dynamic-form-control>
          }
          <!-- <ib-dynamic-form-array *ngSwitchCase="'array'" class="ibFormRow" [base]="field" [form]="form"></ib-dynamic-form-array> -->
        }
      }
      <div class="ibFormRow ibFormActions">
        @if (lines > 1) {
          <button (click)="removeField(index)" [disabled]="array.disabled">-</button>
        }
        @if (lines - 1 === index) {
          <button (click)="addField()" [disabled]="array.disabled">Add</button>
        }
      </div>
    </section>
  }

</div>