@use "sass:map";
@use "@angular/material" as mat;

@use "./kai-table/table-theme" as table;

@mixin theme($app-theme) {
  @include ib-main-menu($app-theme);
  @include table.theme($app-theme);
}

@mixin all-component-colors($theme) {
  @include table.color($theme);
}

/*global patches for material breaks on v15**/
@include mat.checkbox-density(-1);
@include mat.radio-density(-1);

:root {
  .mat-mdc-input-element::-webkit-calendar-picker-indicator {
    display: block;
  }
  [hidden] {
    display: none !important;
  }
  ib-material-form .mdc-button {
    padding: 0 8px 0 8px !important;
  }
  .mat-mdc-form-field-bottom-align::before {
    content: none;
  }
  .mat-mdc-form-field {
    padding-bottom: 22px;
    overflow-y: hidden;
  }
  .mat-mdc-form-field-error {
    line-height: 12px;
  }

  ib-material-form-control {
    padding: 0px 5px;
  }

  .mat-mdc-paginator-page-size {
    align-items: center;
    .mat-mdc-form-field {
      padding-bottom: 0px;
    }
  }

  .ib-toast-success {
    --mdc-snackbar-container-color: green;
    --mdc-snackbar-supporting-text-color: white;
    --mdc-snackbar-supporting-text-weight: bold;
  }

  .ib-toast-warning {
    --mdc-snackbar-container-color: orange;
    --mdc-snackbar-supporting-text-color: white;
    --mdc-snackbar-supporting-text-weight: bold;
  }

  .ib-toast-error {
    --mdc-snackbar-container-color: red;
    --mdc-snackbar-supporting-text-color: white;
    --mdc-snackbar-supporting-text-weight: bold;
  }

  mat-error {
    font-size: 12px;
    line-height: 16px !important;
  }
}

/*global patches end**/
.pulse {
  animation: pulse 1s cubic-bezier(0.4, 0, 0.2, 1) infinite;
  animation-delay: 0.25s;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.mat-mdc-tooltip {
  white-space: pre-line;
}

.ib-material-form-grid ib-material-form-control {
  max-width: 100% !important;
  height: 100%;
}

div[ib-mat-checkbox],
div[ib-mat-radio] {
  height: 80%;
  display: flex;
  align-items: center;
}

div[ib-mat-slide-toggle] {
  height: 80%;
  display: flex;
  align-items: center;
}

.ib-material-form-grid div[ib-mat-label] {
  padding-bottom: 1.34375em;
}
.ib-material-form-grid div[ib-mat-label],
.ib-material-form-grid div[ib-mat-label] div {
  height: 100% !important;
  align-items: center;
}

@mixin ib-main-menu($theme) {
  $ib-main-menu-active: map-get($theme, primary);
  $ib-main-menu-main: (
    50: #e7e7e7,
    100: #c3c3c3,
    200: #9c9c9c,
    300: #747474,
    400: #565656,
    500: #383838,
    600: #323232,
    700: #2b2b2b,
    800: #242424,
    900: #171717,
    A100: #ef7171,
    A200: #ea4343,
    A400: #fa0000,
    A700: #ffffff,
    contrast: (
      50: #000000,
      100: #000000,
      200: #000000,
      300: #ffffff,
      400: #ffffff,
      500: #ffffff,
      600: #ffffff,
      700: #ffffff,
      800: #ffffff,
      900: #ffffff,
      A100: #000000,
      A200: #ffffff,
      A400: #ffffff,
      A700: #ffffff,
    ),
  );

  /* Header */
  #ib-main-menu-expanded-header {
    background: mat.get-color-from-palette($ib-main-menu-main, 700);
    background: linear-gradient(
      0deg,
      rgba(mat.get-color-from-palette($ib-main-menu-main, 500), 0) 0%,
      rgba(mat.get-color-from-palette($ib-main-menu-main, 400), 0.907) 75%,
      rgba(mat.get-color-from-palette($ib-main-menu-main, 600), 0.907) 100%
    );
  }
  #ib-main-menu-expanded-header-closeButton-wrapper button {
    border-color: rgba(
      mat.get-color-from-palette($ib-main-menu-main, 200),
      0.75
    );
  }

  #ib-main-menu-expanded-header-settingsLogout-box {
    background: rgba(mat.get-color-from-palette($ib-main-menu-main, 500), 0.25);
    border-color: rgba(
      mat.get-color-from-palette($ib-main-menu-main, 200),
      0.75
    );
  }

  /* Body */

  .ib-main-menu-expanded-body-box {
    background: rgba(mat.get-color-from-palette($ib-main-menu-main, 700), 0.25);
    border-color: rgba(
      mat.get-color-from-palette($ib-main-menu-main, 200),
      0.75
    );
  }
  .ib-main-menu-box-active-box {
    border-color: rgba(
      mat.get-color-from-palette($ib-main-menu-active, 500),
      0.75
    );
  }
  .ib-main-menu-expanded-body-box-firstLevel {
    border-bottom-color: rgba(
      mat.get-color-from-palette($ib-main-menu-main, 200),
      0.75
    );
  }

  /* Footer */

  #ib-main-menu-expanded-footer {
    background: mat.get-color-from-palette($ib-main-menu-main, 700);
    background: linear-gradient(
      180deg,
      rgba(mat.get-color-from-palette($ib-main-menu-main, 500), 0) 0%,
      rgba(mat.get-color-from-palette($ib-main-menu-main, 400), 0.907) 75%,
      rgba(mat.get-color-from-palette($ib-main-menu-main, 600), 0.907) 100%
    );
  }

  #ib-main-menu-expanded-footer-support-button {
    border-color: rgba(
      mat.get-color-from-palette($ib-main-menu-main, 200),
      0.75
    );
    background: rgba(mat.get-color-from-palette($ib-main-menu-main, 500), 0.55);
  }

  /* Common */

  #ib-main-menu-expanded-header-closeButton-wrapper button:hover,
  #ib-main-menu-expanded-header-settingsLogout-box .mat-mdc-button:hover,
  .ib-main-menu-expanded-body-box-secondLevel button:hover,
  #ib-main-menu-expanded-footer-support-button:hover {
    background: rgba(mat.get-color-from-palette($ib-main-menu-main, 300), 0.7);
  }

  #ib-main-menu-expanded-header p,
  #ib-main-menu-expanded-body p,
  #ib-main-menu-expanded-footer p {
    color: mat.get-color-from-palette($ib-main-menu-main, A700);
  }

  ib-main-menu-expanded mat-icon {
    color: white;
  }
  ib-main-menu-expanded .material-icons-two-tone {
    color: black !important;
    -webkit-filter: contrast(4) invert(1);
    filter: contrast(4) invert(1);
  }

  .active-row-ie-secondLevel,
  .active-header-footer-button {
    background: mat.get-color-from-palette(
      $ib-main-menu-active,
      500
    ) !important;
  }

  /* ib-main-menu dialog custom class */

  .mat-dialog-container-for-ib-main-menu .mat-mdc-dialog-container {
    background: rgba(mat.get-color-from-palette($ib-main-menu-main, 500), 0.5);
    padding: 0px !important;
  }
  .mat-dialog-container-for-ib-main-menu
    .mat-mdc-dialog-container
    .mdc-dialog__surface {
    background-color: transparent !important;
  }

  .mat-dialog-container-for-ib-main-menu .mdc-dialog .mdc-dialog__content {
    padding: 0px !important;
  }

  .mat-dialog-container-for-ib-main-menu
    .mat-dialog-container
    .mat-mdc-dialog-content {
    min-height: 100%;
    max-width: 100%;
    margin: 0px;
    padding: 0px;
  }

  .mat-dialog-container-for-ib-main-menu .mdc-button__label {
    width: 100%;
  }

  .blur-effect {
    filter: blur(15px);
    animation: open 0.3s linear 0s;
    height: 100%;
  }
  @keyframes open {
    from {
      filter: blur(0px);
    }
    to {
      filter: blur(15px);
    }
  }
}
