@use "sass:map";
@use "@angular/material" as mat;

@use "./kai-table/table-theme";
@use "./main-menu/main-menu-theme";
@use "./toast/toast-theme";

@forward "./kai-table/table-theme" as table-* show table-theme, table-color;
@forward "./main-menu/main-menu-theme" as main-menu-* show main-menu-theme,
  main-menu-color;
@forward "./toast/toast-theme" as toast-* show toast-theme, toast-color;

@mixin all-component-themes($theme) {
  @include main-menu-theme.theme($theme);
  @include table-theme.theme($theme);
  @include toast-theme.theme($theme);
}

@mixin all-component-colors($theme) {
  @include main-menu-theme.color($theme);
  @include table-theme.color($theme);
  @include toast-theme.color(theme);
}

@mixin all-component-colors($theme) {
  @if not mat.theme-has($theme, color) {
    @error 'No color configuration specified.';
  }

  @include all-component-themes(
    mat.theme-remove($theme, base, typography, density)
  );
}

html {
  ib-material-form-control {
    padding: 0px 5px;
  }
}

/*global patches end**/
.pulse {
  animation: pulse 1s cubic-bezier(0.4, 0, 0.2, 1) infinite;
  animation-delay: 0.25s;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.mat-mdc-tooltip {
  white-space: pre-line;
}

.ib-material-form-grid ib-material-form-control {
  max-width: 100% !important;
  height: 100%;
}

div[ib-mat-checkbox],
div[ib-mat-radio] {
  height: 80%;
  display: flex;
  align-items: center;
}

div[ib-mat-slide-toggle] {
  height: 80%;
  display: flex;
  align-items: center;
}

.ib-material-form-grid div[ib-mat-label] {
  padding-bottom: 1.34375em;
}
.ib-material-form-grid div[ib-mat-label],
.ib-material-form-grid div[ib-mat-label] div {
  height: 100% !important;
  align-items: center;
}
