registry=https://registry.npmjs.org/
//gitlab.com/api/v4/packages/npm/:_authToken=_GSMpPPHnzrSEnDSdxh8
//gitlab.com/api/v4/projects/8604184/packages/npm/:_authToken=_GSMpPPHnzrSEnDSdxh8
//gitlab.com/api/v4/projects/26113968/packages/npm/:_authToken=_GSMpPPHnzrSEnDSdxh8
//gitlab.com/api/v4/projects/35940072/packages/npm/:_authToken=_GSMpPPHnzrSEnDSdxh8
//gitlab.com/api/v4/projects/42152492/packages/npm/:_authToken=_GSMpPPHnzrSEnDSdxh8
@inobeta:registry=https://gitlab.com/api/v4/packages/npm/
strict-ssl=false
