<ib-view-list
  [views]="views$ | async"
  [defaultView]="defaultView"
  [activeView]="activeView"
  [dirty]="dirty"
  (ibAddView)="handleAddView()"
  (ibChangeView)="handleChangeView($event)"
  (ibRemoveView)="handleRemoveView($event)"
  (ibRenameView)="handleRenameView($event)"
  (ibDuplicateView)="handleDuplicateView($event)"
  (ibReorderViews)="handleReorderViews($event)"
></ib-view-list>

<button
  *ibTableAction
  matMiniFab
  style="margin-left: 5px;"
  [matTooltip]="'shared.ibTableView.undo' | translate"
  (click)="handleDiscardChanges()"
  [disabled]="!dirty"
>
  <mat-icon>undo</mat-icon>
</button>

<button
  *ibTableAction
  matMiniFab
  style="margin-left: 5px;"
  [matTooltip]="'shared.ibTableView.save' | translate"
  (click)="handleSaveView()"
  [disabled]="!dirty"
>
  <mat-icon>save</mat-icon>
</button>
