<div class="nav-shell">
  @if (isMobile()) {
    <div class="mobile-navigation">
      <button
        mat-icon-button
        type="button"
        [attr.aria-label]="'examples.sideMenu.toggleNavigation' | translate"
        (click)="drawer.toggle()"
      >
        <mat-icon aria-hidden="true">menu</mat-icon>
      </button>
    </div>
  }

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav
      #drawer
      class="side-menu-column"
      [mode]="drawerMode()"
      [(opened)]="drawerOpened"
    >
      <app-side-menu></app-side-menu>
    </mat-sidenav>

    <mat-sidenav-content class="route-content">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
