<nav>
  <ul>
    <li><a [matMenuTriggerFor]="table" routerLinkActive="active-link">Table</a>
      <mat-menu #table="matMenu">
        <a routerLink="table/redux" mat-menu-item routerLinkActive="active-link">With redux</a>
        <a routerLink="table/noredux" mat-menu-item routerLinkActive="active-link">Without redux</a>
      </mat-menu>
    </li>
    <li><a routerLink="forms" routerLinkActive="active-link">Dynamic Forms</a></li>
    <li><a routerLink="http" routerLinkActive="active-link">Http</a></li>
    <li><a routerLink="redux" routerLinkActive="active-link">Redux</a></li>
    <li><a routerLink="dialog" routerLinkActive="active-link">Dialog</a></li>
    <li><a routerLink="toast" routerLinkActive="active-link">Toast</a></li>
  </ul>
</nav>

