ul {
  list-style: none;
  margin: 0;
  padding: 1em;
  display: flex;
  gap: 1em;
}

a {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  color: #777;
}

a.active-link {
  text-decoration: none;
  color: #030303
}