<button *ngIf="!selected" mat-flat-button (click)="ibChangeView.emit(view)">
  {{ view.name }}
</button>

<button
  *ngIf="selected"
  mat-flat-button
  color="primary"
  [matMenuTriggerFor]="menu"
>
  {{ view.name }} {{ dirty ? "*" : "" }}
  <mat-icon iconPositionEnd>keyboard_arrow_down</mat-icon>
</button>

<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="ibRenameView.emit(view)">
    <mat-icon>drive_file_rename_outline</mat-icon>
    {{ "shared.ibTableView.rename" | translate }}
  </button>
  <button mat-menu-item (click)="ibDuplicateView.emit(view)">
    <mat-icon>content_copy</mat-icon>
    {{ "shared.ibTableView.duplicate" | translate }}
  </button>
  <button
    *ngIf="!pinned"
    mat-menu-item
    (click)="ibPinView.emit({ view, pinned: true })"
  >
    <mat-icon>bookmark_border</mat-icon>
    {{ "shared.ibTableView.pin" | translate }}
  </button>
  <button
    *ngIf="pinned"
    mat-menu-item
    (click)="ibPinView.emit({ view, pinned: false })"
  >
    <mat-icon color="accent">bookmark</mat-icon>
    {{ "shared.ibTableView.unpin" | translate }}
  </button>
  <button mat-menu-item (click)="ibRemoveView.emit(view)">
    <mat-icon color="warn">delete_forever</mat-icon>
    {{ "shared.ibTableView.remove" | translate }}
  </button>
</mat-menu>
