<ib-filter-button>
  <span ib-filter-name><ng-content></ng-content></span>
  <span ib-filter-value>
    {{
      "shared.ibFilter.between"
        | translate
          : { min: searchCriteria.value.min, max: searchCriteria.value.max } | lowercase
    }}
  </span>

  <section [formGroup]="filter?.form" style="padding: 0 1em">
    <section class="ib-filter-number" [formGroupName]="name">
      <section style="display: flex">
        <mat-slider style="flex: 1" [max]="max" [min]="min">
          <input
            matSliderStartThumb
            formControlName="min"
            [value]="searchCriteria.value.min"
          />
          <input
            matSliderEndThumb
            formControlName="max"
            [value]="searchCriteria.value.max"
          />
        </mat-slider>
      </section>

      <section class="ib-filter-number__input-range">
        <mat-form-field appearance="outline" style="width: 12ch">
          <mat-label>{{ "shared.ibFilter.min" | translate }}</mat-label>
          <input
            matInput
            type="number"
            placeholder="min"
            formControlName="min"
            [value]="searchCriteria.value.min"
          />
        </mat-form-field>

        <mat-form-field appearance="outline" style="width: 12ch">
          <mat-label>{{ "shared.ibFilter.max" | translate }}</mat-label>
          <input
            matInput
            type="number"
            placeholder="max"
            formControlName="max"
            [value]="searchCriteria.value.max"
          />
        </mat-form-field>
      </section>
    </section>
  </section>

  <ib-filter-actions>
    <ib-apply-filter-button (click)="applyFilter()"></ib-apply-filter-button>
    <button mat-button (click)="clear()" [disabled]="!isDirty">
      {{ "shared.ibFilter.clear" | translate }}
    </button>
  </ib-filter-actions>
</ib-filter-button>
