<form (ngSubmit)="handleSubmit()" [formGroup]="form" class="ibForm">

  @for (field of fields; track field) {
    @switch (field.role) {
      @case ('control') {
        <ib-dynamic-form-control class="ibFormRow" [base]="field | asFormControl" [form]="form"></ib-dynamic-form-control>
      }
      @case ('array') {
        <ib-dynamic-form-array class="ibFormRow" [base]="field | asFormArray" [form]="form"></ib-dynamic-form-array>
      }
    }
  }

  <div class="ibFormRow ibFormActions">
    <button type="submit" [disabled]="!form.valid">Save</button>
  </div>
</form>