<ng-template formControlHost></ng-template>
<ng-template #formControlErrors>
  @if (hasError('required')) {
    <span>
      {{base.label | translate}} {{ 'shared.ibForms.errors.required' | translate }}
    </span>
  }
  @else if (hasError('minlength')) {
    <span>
      {{base.label | translate}} {{ 'shared.ibForms.errors.minlength' | translate:{v:self.errors.minlength.requiredLength} }}
    </span>
  }
  @else if (hasError('maxlength')) {
    <span>
      {{base.label | translate}} {{ 'shared.ibForms.errors.maxlength' | translate:{v:self.errors.maxlength.requiredLength} }}
    </span>
  }
  @else if (hasError('min')) {
    <span>
      {{base.label | translate}} {{ 'shared.ibForms.errors.min' | translate:{v:self.errors.min.min} }}
    </span>
  }
  @else if (hasError('max')) {
    <span>
      {{base.label | translate}} {{ 'shared.ibForms.errors.max' | translate:{v:self.errors.max.max} }}
    </span>
  }
  @else if (hasError('email')) {
    <span>
      {{ 'shared.ibForms.errors.email' | translate }}
    </span>
  }
  @else if (hasError('matDatepickerParse')) {
    <span>
      {{ 'shared.ibForms.errors.date' | translate:{v:self.errors.matDatepickerParse.matDatepickerParse} }}
    </span>
  }
  @else if (hasError('customError')) {
    <span>
      {{ self.errors.customError.message | translate:self.errors.customError.params }}
    </span>
  }
</ng-template>
