<form (ngSubmit)="handleSubmit()" [formGroup]="form" class="ibForm">
  @if ([ibMatActionsPosition.BOTH, ibMatActionsPosition.TOP].indexOf(actionsPosition) > -1) {
    <div
      class="ibFormActions"
      style="display:flex;flex-direction:row;justify-content: end; gap:10px"
      >
      @for (action of simpleActions; track action) {
        <ib-material-form-control
          class="ibFormRow"
          [base]="action"
          [form]="form"
          [attr.data-cy]="action.key"
        ></ib-material-form-control>
      }
      @if (submitAction) {
        <ib-material-form-control
          class="ibFormRow"
          [base]="submitAction"
          [form]="form"
          [attr.data-cy]="submitAction.key"
        ></ib-material-form-control>
      }
    </div>
  }

  @if (cols) {
    <mat-grid-list class="ib-material-form-grid" [cols]="cols" [rowHeight]="rowHeight">
      @for (field of fields; track field) {
        <mat-grid-tile
          [colspan]="field.cols"
          [rowspan]="field.rows">
          @switch (field.role) {
            @case ('control') {
              <ib-material-form-control
                class="ibFormRow"
                [base]="field | asFormControl"
                [form]="form"
                [ngStyle]="{ flex: '1 1 ' + field.width }"
                [attr.data-cy]="field?.key"
              ></ib-material-form-control>
            }
          }
        </mat-grid-tile>
      }
    </mat-grid-list>
  }

  @if (!cols) {
    <div style="display:flex;flex-direction:row;flex-wrap: wrap">
      @for (field of fields; track field) {
        @switch (field.role) {
          @case ('control') {
            <ib-material-form-control
              class="ibFormRow"
              [base]="field | asFormControl"
              [form]="form"
              [ngStyle]="{ flex: '1 1 ' + field.width }"
              [attr.data-cy]="field?.key"
            ></ib-material-form-control>
          }
          @case ('array') {
            <ib-material-form-array
              class="ibFormRow"
              [base]="field | asFormArray"
              [form]="form"
              [ngStyle]="{ flex: '1 1 ' + field.width }"
              [attr.data-cy]="field?.key"
            ></ib-material-form-array>
          }
        }
      }
    </div>
  }

  @if ([ibMatActionsPosition.BOTH, ibMatActionsPosition.BOTTOM].indexOf(actionsPosition) > -1) {
    <div
      class="ibFormActions"
      style="display:flex;flex-direction:row;justify-content: end; gap:10px"
      >
      @for (action of simpleActions; track action) {
        <ib-material-form-control
          class="ibFormRow"
          [base]="action"
          [form]="form"
          [attr.data-cy]="action.key"
        ></ib-material-form-control>
      }
      @if (submitAction) {
        <ib-material-form-control
          class="ibFormRow"
          [base]="submitAction"
          [form]="form"
          [attr.data-cy]="submitAction.key"
        ></ib-material-form-control>
      }
    </div>
  }
</form>
