@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap');
:root {
  --color-bckgrnd-box: #5C5C5C;
  --color-border-box: #909090;
  --color-text: #FFFFFF;
}


/* header */
#ib-main-menu-expanded-header {
  width: 100%;
  height: 90px;
  position: fixed;
  margin: 0 auto;
  z-index: 1;
  background: rgb(64,64,64);
  background: linear-gradient(0deg, rgba(64,64,64,0) 0%, rgba(93,93,93,0.8074580173866421) 32%, rgba(64,64,64,0.8074580173866421) 58%);
}
#ib-main-menu-expanded-header-wrapper {
  height: 90px;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}
#ib-main-menu-expanded-header-title-wrapper,
#ib-main-menu-expanded-header-settingsLogout-wrapper {
  min-width:250px;
  height: 40px;
  margin: 0 auto;
}
#ib-main-menu-expanded-header-title-wrapper p {
  height: 32px;
  font-size: 36px;
  margin: 0;
}
#ib-main-menu-expanded-header-closeButton-wrapper {
  width: 100%;
  margin: 0 auto;

}
#ib-main-menu-expanded-header-closeButton-wrapper button {
  min-width: 256px;
  max-width: 453px;
  height: 40px;
  border-radius: 20px;
  border: 1px solid rgba(144, 144, 144, 0.75);
  background: rgba(64, 64, 64, 0.25);
  transition: border-color .2s, box-shadow .2s;
}

#ib-main-menu-expanded-header-closeButton-wrapper button div{
  height: 40px;
}
#ib-main-menu-expanded-header-closeButton-wrapper button div p {
  margin: 0;
}
#ib-main-menu-expanded-header-settingsLogout-wrapper {
  padding-right: 10px;

}
#ib-main-menu-expanded-header-settingsLogout-box {
  width: 76px;
  height: 40px;
  background: rgba(64, 64, 64, 0.25);
  border: 1px solid rgba(144, 144, 144, 0.75);
  border-radius: 8px;
}
#ib-main-menu-expanded-header-settingsLogout-box .mat-button {
  min-width: 32px;
  max-width:32px;
  min-height: 32px;
  max-height: 32px;
  padding: 0px;
  border-radius: 8px;
  transition: background-color .2s;
}

#ib-main-menu-expanded-header-settingsLogout-box .mat-button:nth-child(1) {
  background: rgba(144, 144, 144, 0.25);
}
#ib-main-menu-expanded-header-settingsLogout-box .mat-button:hover {
  background-color: rgba(92, 105, 253, 0.802);
}
#ib-main-menu-expanded-header-settingsLogout-box .mat-button mat-icon{
  min-width: 23px;
  max-width:23px;
  min-height: 25px;
  max-height: 25px;
  margin: 0px 2px 7px 0px;
}

/* body */
#ib-main-menu-expanded-body {
  max-width:999px;
  height:100%;
  margin: 0 auto;
  margin-top:90px;
  padding-bottom: 90px;
}
#ib-main-menu-expanded-body-wrapper {
  max-width: 99%;
  height:100%;
  margin: 0 auto;
}
.ib-main-menu-expanded-body-box {
  height: 244px;
  padding: 16px;
  background: rgba(78, 76, 76, 0.25);
  border: 1px solid rgba(144, 144, 144, 0.75);
  border-radius: 8px;
  margin-top: 15px;
  transition:  background-color .2s, box-shadow .2s;
}
.ib-main-menu-expanded-body-box:hover {
  background: rgb(92,105,253);
  background: linear-gradient(351deg, rgba(92,105,253,0.28925073447347693) 31%, rgba(92, 105, 253, 0.517) 71%);
  -webkit-box-shadow:0px 0px 10px -2px rgba(92, 105, 253, 0.755);
  box-shadow: 0px 0px 10px -2px rgba(92, 105, 253, 0.809);
}
.default-box {
  width: 232px;
}
.big-box {
  width: 474px;
}
.ib-main-menu-expanded-body-box-firstLevel {
  height: 34px;
  border-bottom: 1.5px solid rgba(255, 255, 255, 0.4);
}
.ib-main-menu-expanded-body-box-firstLevel button {
  width:100%;
  height: 34px;
  padding-left: 5px;
}
.ib-main-menu-expanded-body-box-firstLevel-box mat-icon {
  margin-right: 10px;
}
.ib-main-menu-expanded-body-box-firstLevel-box p {
  height: 24px;
  margin: 0;
}
.ib-main-menu-expanded-body-box-secondLevel {
  width:100%;
  margin-top:10px;
}
.ib-main-menu-expanded-body-box-secondLevel-bigWrapper {
  width:100%;
  margin-top:0px;
}
.ib-main-menu-expanded-body-box-secondLevel button {
  width:100%;
  height: 32px;
  border-radius: 8px;
}
.ib-main-menu-expanded-body-box-secondLevel button p {
  height: 24px;
  margin: 1px 0px 0px 0px;
  text-align: left;
}

.active-section {
  border: 1px solid rgba(61, 92, 245, 0.75);
}

/*footer*/
#ib-main-menu-expanded-footer {
  width: 100%;
  height: 60px;
  position: fixed;
  margin: 0 auto;
  z-index: 1;
  bottom: 0;
  background: rgb(64,64,64);
  background: linear-gradient(0deg, rgba(64,64,64,0.8074580173866421) 28%, rgba(93,93,93,0.8074580173866421) 67%, rgba(64,64,64,0) 100%);
}
#ib-main-menu-expanded-footer-wrapper {
  height: 60px;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}
#ib-main-menu-expanded-footer-support-button,
#ib-main-menu-expanded-footer-support-button-wrapper,
#ib-main-menu-expanded-footer-copyright-wrapper {
  width: 166px;
  height: 32px;
}

#ib-main-menu-expanded-footer-support-button
{
  border: 1px solid rgba(144, 144, 144, 0.75);
  background: rgba(144, 144, 144, 0.25);
  border-radius: 8px;
  padding:0px;
  transition: border-color .2s, box-shadow .2s;
}
#ib-main-menu-expanded-footer-support-button-wrapper p {
  font-size: 12px;
  margin: 0;
  height: 22px;
}
#ib-main-menu-expanded-footer-support-button-wrapper mat-icon {
  font-size: 18px;
  width: 18px;
  height: 18px;
  margin: 3px 10px 0px 0px;
}
#ib-main-menu-expanded-footer-copyright-wrapper p {
  margin: 8px 0px 0px 0px;
  font-weight: 200;
  color: #FFFFFF;
}

/* general */
#ib-main-menu-expanded-header-title-wrapper p,
#ib-main-menu-expanded-header-closeButton-wrapper button,
.ib-main-menu-expanded-body-box-firstLevel-box p,
.ib-main-menu-expanded-body-box-secondLevel button p,
#ib-main-menu-expanded-footer-support-button-wrapper p,
#ib-main-menu-expanded-footer-copyright-wrapper p {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  color: #FFFFFF;
}
mat-icon {
  color: #FFFFFF;
  font-size: 24px
}
#ib-main-menu-expanded-header-closeButton-wrapper button p,
.ib-main-menu-expanded-body-box-firstLevel-box p,
.ib-main-menu-expanded-body-box-secondLevel button p {
  font-size: 14px;
}
#ib-main-menu-expanded-header-closeButton-wrapper button:hover,
#ib-main-menu-expanded-footer-support-button:hover {
  border-color: rgba(61, 92, 245, 0.75);
  -webkit-box-shadow:0px 0px 10px -2px rgba(92, 105, 253, 0.755);
  box-shadow: 0px 0px 10px -2px rgba(92, 105, 253, 0.809);
}
.active-link /*
  secondLevel OR
  headerRight Buttons OR
  footerLeft Button */{
  background-color:rgba(61, 92, 245, 0.75) !important;
}
