<!--header---------------------------------------------------------------------->

<div id="ib-main-menu-expanded-header" fxLayout="row" fxLayoutAlign="space-between center">
  <div id="ib-main-menu-expanded-header-wrapper" fxLayout="row" fxLayoutAlign="space-between center">
    <div id="ib-main-menu-expanded-header-title-wrapper" fxLayout="row" fxLayoutAlign="start center">
      <p>{{navDataSet.title | translate }}</p>
    </div>
    <div id="ib-main-menu-expanded-header-closeButton-wrapper" fxLayout="row" fxLayoutAlign="space-around center">
      <button mat-button (click)="closeDialog()">
        <div fxLayout="row" fxLayoutAlign="space-evenly center">
          <mat-icon>dashboard</mat-icon>
          <p>{{ 'shared.ibMainMenu.returnToDash' | translate }}</p>
        </div>
      </button>
    </div>
    <div id="ib-main-menu-expanded-header-settingsLogout-wrapper" fxLayout="row" fxLayoutAlign="end center">
      <div id="ib-main-menu-expanded-header-settingsLogout-box" fxLayout="row" fxLayoutAlign="space-evenly center">
        <button mat-button *ngFor="let upRight of navDataSet.upRight"
          [routerLink]="[upRight.link]"
          routerLinkActive #rla="routerLinkActive"
          class="{{rla.isActive? 'active-header-footer-button' : null}}"
          (click)="closeDialog()"
        >
          <mat-icon>
            {{upRight.icon}}
          </mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>

<!--body---------------------------------------------------------------------->

<div id="ib-main-menu-expanded-body">
  <div id="ib-main-menu-expanded-body-wrapper" fxLayout="row wrap"  fxLayoutAlign="space-evenly center" >
    <ng-container *ngFor="let firstLevel of navDataSet.navData">
  <!--box-->
      <div
        routerLinkActive
        #rlaSection="routerLinkActive"
        class="{{rlaSection.isActive? 'ib-main-menu-expanded-body-box active-box-ie-firstLevel':  'ib-main-menu-expanded-body-box' }}"
        [ngStyle]="{
          'width': calcBoxWidth(firstLevel.paths.length)
        }"
      >

    <!--firstLevel-->
        <div class="ib-main-menu-expanded-body-box-firstLevel">
          <button mat-button
            routerLink="{{firstLevel.link}}"
            (click)="closeDialog()"
          >
            <div class="ib-main-menu-expanded-body-box-firstLevel-box" fxLayout="row" fxLayoutAlign="start center">
              <mat-icon>{{firstLevel.icon}}</mat-icon>
              <p> {{firstLevel.label |translate}} </p>
            </div>
          </button>
        </div>

    <!--secondLevel-->
        <div class="ib-main-menu-expanded-body-box-secondLevel" fxLayout="column wrap" fxLayoutAlign="start start" style="height: 85%;">
              <button mat-button
                *ngFor="let secondLevel of firstLevel.paths; let i = index"
                routerLink="{{firstLevel.link + secondLevel.link}}"
                routerLinkActive
                #rla="routerLinkActive"
                class="{{rla.isActive? 'active-row-ie-secondLevel' : 'inactive-row-ie-secondLevel'}}"
                (click)="closeDialog()"
                fxFlex="18"
                [ngStyle]="{
                  'width': calcSecondLevelWidth(firstLevel.paths.length)
                }"
              >
                <p>
                  {{secondLevel.label | translate}}
                </p>
              </button>
        </div>
      </div>
    </ng-container>
  </div>
</div>

<!--footer---------------------------------------------------------------------->

<div id="ib-main-menu-expanded-footer">
  <div id="ib-main-menu-expanded-footer-wrapper" fxLayout="row" fxLayoutAlign="space-between center">
    <button mat-button id="ib-main-menu-expanded-footer-support-button"
      [routerLink]="[navDataSet.bottomLeft.link]"
      routerLinkActive #rla="routerLinkActive"
      class="{{rla.isActive? 'active-header-footer-button':  null }}"
      (click)="closeDialog()"
    >
      <div id="ib-main-menu-expanded-footer-support-button-wrapper" fxLayout="row" fxLayoutAlign="center center">
        <mat-icon>{{navDataSet.bottomLeft.icon}}</mat-icon>
        <p>{{navDataSet.bottomLeft.label | translate}}</p>
      </div>
    </button>
    <div id="ib-main-menu-expanded-footer-copyright-wrapper">
      <p>{{navDataSet.bottomRight | translate}}</p>
    </div>
  </div>
</div>
