<ib-filter-button>
  <span ib-filter-name *ngIf="!isDirty"><ng-content></ng-content></span>
  <span ib-filter-value>
    {{ displayLabel | translate : displayLabelParams }}
  </span>

  <mat-form-field class="ib-tag-filter-search" style="width: 100%">
    <input matInput [(ngModel)]="query" [placeholder]="'shared.ibFilter.search' | translate"/>
  </mat-form-field>
  <section [formGroup]="filter?.form">
    <section class="ib-tag-filter">
      <mat-selection-list
        [multiple]="multiple"
        [formControlName]="name"
        disableRipple="true"
      >
        @for (option of options | filterBy: query; track option) {
          <mat-list-option
            togglePosition="before"
            [value]="option"
          >
            {{ option }}
          </mat-list-option>
        } @empty {
          <mat-list-item disabled>{{ 'shared.ibFilter.noItems' | translate }}</mat-list-item>
        }
      </mat-selection-list>
    </section>
  </section>

  <ib-filter-actions>
    <button mat-button (click)="clear()" [disabled]="!isDirty">
      {{ "shared.ibFilter.clear" | translate }}
    </button>
    <button mat-button color="primary" (click)="applyFilter()">
      {{ "shared.ibFilter.update" | translate }}
    </button>
  </ib-filter-actions>
</ib-filter-button>
