<ib-filter-button>
  <span ib-filter-name *ngIf="!isDirty"><ng-content></ng-content></span>
  <span ib-filter-value>
    {{ displayLabel | translate : displayLabelParams }}
  </span>

  <section [formGroup]="filter?.form">
    <section class="ib-tag-filter" cdkVirtualScrollingElement>
      <mat-selection-list
        [multiple]="multiple"
        [formControlName]="name"
        disableRipple="true"
      >
        <cdk-virtual-scroll-viewport
          appendOnly
          itemSize="40"
          minBufferPx="300"
          maxBufferPx="300"
        >
          <mat-list-option
            togglePosition="before"
            checkboxPosition="before"
            *cdkVirtualFor="let option of options"
            [value]="option"
          >
            {{ option }}
          </mat-list-option>
        </cdk-virtual-scroll-viewport>
      </mat-selection-list>
    </section>
  </section>

  <ib-filter-actions>
    <ib-apply-filter-button (click)="applyFilter()"></ib-apply-filter-button>
    <button mat-button (click)="clear()" [disabled]="!isDirty">
      {{ "shared.ibFilter.clear" | translate }}
    </button>
  </ib-filter-actions>
</ib-filter-button>
