@use "@angular/material" as mat;
section.ib-tag-filter {
  overflow-y: auto;
  min-height: 40px;
  max-height: 300px;
  @include mat.list-density(-4);
}

.ib-tag-filter-search {
  margin-top: -8px;
  padding-bottom: 0 !important;
  @include mat.form-field-density(-4);
}

span.ib-filter-value {
  display: table-cell;

  max-width: 32ch;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
