<ng-template #rowActionTemplate let-item="item" let-isChecked="isChecked">
  <span class="delete-button" (click)="$event.stopPropagation();consolePrint({item: item, isChecked: isChecked})">
      <i class="material-icons">search</i>
  </span>
</ng-template>

<ng-template #headerClickTemplate let-ibTable="ibTable" let-col="col">
  <ib-table-header-popup
    [ibTable]="ibTable"
    [col]="col">
  </ib-table-header-popup>
</ng-template>


<ng-template #exportTemplate let-ibTable="ibTable" let-col="col">
  <!--example component customization-->
  Clicca per esportare:&nbsp;
  <ib-table-export
    [selectableRows]="selectableRows"
    (export)="ibTable.export($event || {})"
    >
  </ib-table-export>
</ng-template>

<ib-table
  [tableName]="'pippo'"
  [pdfCustomStyles]="pdfCustomStyles"
  [pdfSetup]="pdfSetup"
  [titles]="titles"
  [items]="items"
  [enableReduxStore]="true"
  [selectableRows]="selectableRows"
  [hasExport]="true"
  [hasAdd]="true"
  [hasEdit]="true"
  [hasDelete]="true"
  [customItemTemplate]="{ guid: lotTemplate }"
  [templateButtons]="[{
    template: rowActionTemplate,
    columnName: 'Action'
  }]"
  [templateHeaders]="{
    'guid': headerClickTemplate
  }"
  [actions]="actions"
  [structureTemplates]="{
    'exportTemplate': exportTemplate
  }"
  (add)="consolePrint('clicked on new')"
  (edit)="consolePrint({ msg: 'edit click', data: $event})"
  (delete)="consolePrint({ msg: 'delete click', data: $event})"
  (rowClicked)="consolePrint({ msg: 'row click', data: $event})"
  (rowChecked)="consolePrint({ msg: 'row selection change', data: $event})"

  >
  <ng-template #lotTemplate let-item="item">
    <div style="font-weight: bold; color: red;">{{item.guid}}</div>
  </ng-template>
</ib-table>
