<div [formGroup]="form">
  <label [attr.for]="base.key" class="ibFormControl-label">{{base.label}}</label>

  <div>
    @switch (base.controlType) {
    @case ('textbox') {
    <input [formControlName]="base.key" [type]="base.type" (keyup)="base.change(self)">
    }
    @case ('dropdown') {
    <select [formControlName]="base.key" (change)="base.change(self)">
      @for (opt of base.options; track opt) {
      <option [value]="opt.key">{{opt.value}}</option>
      }
    </select>
    }
    }
  </div>

  @if (self.invalid && self.dirty) {
  <div class="ibFormControl-errorMessage">{{base.label}} is required</div>
  }
</div>