<form class="ibFormArray" [formGroup]="form">

  @for (line of array.controls; track line; let index = $index) {
    <section class="ibFormArrayItem"
      style="display: flex; flex-wrap: wrap">
      @for (field of base.fields; track field) {
        @switch (field.role) {
          @case ('control') {
            <ib-material-form-control class="ibFormRow" [base]="field" [form]="getGroupAt(index)"
              [style.flex]="'1 1 ' + field.width" [style.max-width]="field.width"
              [attr.data-cy]="field.key"
            ></ib-material-form-control>
          }
        }
      }
      <div class="ibFormArrayActions">
        @if (lines > 0) {
          <button mat-icon-button (click)="removeField(index)" [disabled]="array.disabled">
            <mat-icon>remove</mat-icon>
          </button>
        }
        @if (lines - 1 === index && lines !== max) {
          <button mat-icon-button (click)="addField()"
            [disabled]="array.disabled">
            <mat-icon>add</mat-icon>
          </button>
        }
      </div>
    </section>
  }

  @if (!array.controls.length) {
    <section class="ibFormArrayItem">
      <div class="ibFormArrayActions">
        <button mat-flat-button (click)="addField()"
          [disabled]="array.disabled">
          <mat-icon>add</mat-icon>
          {{ base.options.addFieldLabel | translate }}
        </button>
      </div>
    </section>
  }

</form>
