<form class="ibFormArray" [formGroup]="form">

  <section class="ibFormArrayItem" *ngFor="let line of array.controls; let index = index"
    style="display: flex; flex-wrap: wrap">
    <ng-container *ngFor="let field of base.fields">
      <ng-container [ngSwitch]="field.role">
        <ib-material-form-control *ngSwitchCase="'control'" class="ibFormRow" [base]="field" [form]="getGroupAt(index)"
          [style.flex]="'1 1 ' + field.width" [style.max-width]="field.width"></ib-material-form-control>
      </ng-container>
    </ng-container>
    <div class="ibFormArrayActions">
      <button mat-icon-button *ngIf="lines > 1" (click)="removeField(index)" [disabled]="array.disabled">
        <mat-icon>remove</mat-icon>
      </button>
      <button mat-icon-button *ngIf="lines - 1 === index && lines !== max" (click)="addField()"
        [disabled]="array.disabled">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </section>

</form>