#ib-main-menu-box {
  height:50px;
  width: 50px;
  margin: 0px;
  text-align: center;
}

#ib-main-menu-box button {
  width: 40px;
  min-width: 40px;
  height:40px;
  margin: 5px 0px 0px 0px;
  padding: 0px;

}

#ib-main-menu-box button mat-icon {
  width: 36px;
  height: 36px;
  font-size: 36px;
}

