.mat-sort-header-container {
  align-items: center;
  cursor: none !important;
}
th {
  color: #555;
  font-weight: normal;
  padding: 10px;
}
td {
  border-bottom: 1px solid #ccc;
  padding: 10px;
}
.table-header-title-custom >>> button{
  cursor: default;
}

.table-header-title{
  text-align: left;
  cursor: pointer;
}

.filter-value{
  font-size: 12px;
  line-height: 15px;;
}
