<section class="ib-table__toolbar">
  <ng-content select="ib-table-view-group"></ng-content>
  <section class="ib-table__toolbar__actions">
    <ng-content select="[ib-table-action-group]"></ng-content>
    <ng-template *ngFor="let portal of actionPortals" [cdkPortalOutlet]="portal"></ng-template>
  </section>
</section>
<ng-content select="ib-filter"></ng-content>
<div class="ib-table-scrollable" [class.ib-table-scrollable--loading]="isState(states.LOADING)">
  <div class="ib-table-progress-bar" *ngIf="isState(states.LOADING)">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
  <table
    class="ib-table"
    mat-table
    matSort
    multiTemplateDataRows
    [matSortActive]="this.tableDef.initialSort?.active"
    [matSortDirection]="this.tableDef.initialSort?.direction"
    [dataSource]="dataSource"
  >
    <ng-content select="ib-selection-column"></ng-content>
    <ng-container *ngFor="let column of columns" [matColumnDef]="column.columnDef">
      <th class="ib-table__header-cell" mat-header-cell *matHeaderCellDef mat-sort-header [disabled]="!column.sort">
        {{column.header | translate}}
      </th>
      <td mat-cell *matCellDef="let row">
        <ng-template [cdkPortalOutlet]="portals[column.columnDef]" (attached)="handleAttached($event, column, row)"></ng-template>
      </td>
    </ng-container>
    <ng-container matColumnDef="expandedDetail" *ngIf="rowGroup">
      <td mat-cell *matCellDef="let element" [attr.colspan]="columns.length">
        <div class="ib-table-element-detail"
             [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
          <ng-container *ngTemplateOutlet="rowGroup.templateRef; context: {'$implicit': element, 'row': element}" ></ng-container>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;">
      test 123
    </tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns;"
      class="ib-table-element-row"
      [class.ib-table-expanded-row]="expandedElement === row"
      (click)="rowGroup && (expandedElement = expandedElement === row ? null : row)"
    ></tr>
    <ng-container *ngIf="rowGroup">
      <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="ib-table-group-detail-row"></tr>
    </ng-container>
    <tr *matNoDataRow>
      <td [attr.colspan]="columns.length">
        <div style="display: flex; flex-direction: column; align-items: center; padding: 12px;">
          <ng-container *ngIf="isState(states.IDLE)">
            <mat-icon style="color: #888">inbox</mat-icon>
            {{ "common.noItems" | translate }}
            {{ state }}
          </ng-container>

          <ng-container *ngIf="isState(states.HTTP_ERROR)">
            <mat-icon style="color: #888">error</mat-icon>
            {{ "common.httpError" | translate }}
          </ng-container>
        </div>
      </td>
    </tr>
  </table>
</div>
<div class="ib-table-paginator">
  <mat-paginator
    [style.display]="tableDef.paginator.hide ? 'none' : 'block'"
    [pageSize]="tableDef.paginator.pageSize"
    [showFirstLastButtons]="tableDef.paginator.showFirstLastButtons"
    [pageSizeOptions]="tableDef.paginator.pageSizeOptions">
  </mat-paginator>
</div>
