<div class="ib-table-desktop">
  <section class="ib-table__toolbar">
    <ng-content select="ib-table-view-group" />
    <section class="ib-table__toolbar__actions">
      @for(action of headerActions(); track $index) {
        @if(action.kind() === 'export' && canExportCurrentPage()) {
          <ib-table-data-export-action
            (ibDataExport)="doExport($event)"
            [showSelectedRowsOption]="canSelectRows()"
            [showAllRowsOption]="canExportAllRows()"
            />
        } @else {
          <ng-container *ngTemplateOutlet="action.templateRef()"> </ng-container>
        }
      }
      @for (portal of actionPortals; track portal) {
        <ng-template [cdkPortalOutlet]="portal" />
      }
    </section>
  </section>

  <ng-content select="ib-filter" />

  <section class="ib-table__content" [class.ib-table__content--loading]="effectiveState() === 'loading'">
    @if (effectiveState() === 'loading') {
      <div class="ib-table__content__progress-bar">
        <mat-progress-bar mode="indeterminate" />
      </div>
    }

    <table class="ib-table" mat-table matSort multiTemplateDataRows [matSortActive]="tableSortState().active"
      [matSortDirection]="tableSortState().direction" [dataSource]="isDataSourceReady() ? tableDataSource() : null">
      <ng-content select="ib-selection-column" />
      <ng-content />

      @if (rowGroup(); as currentRowGroup) {
        <ng-container matColumnDef="expandedDetail">
          <td mat-cell *matCellDef="let element" [attr.colspan]="effectiveDisplayedColumns().length">
            <div class="ib-table__cell-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
              <ng-container *ngTemplateOutlet="currentRowGroup.templateRef; context: {'$implicit': element, 'row': element}" />
            </div>
          </td>
        </ng-container>
      }

      <tr mat-header-row *matHeaderRowDef="effectiveDisplayedColumns(); sticky: true;"></tr>

      <tr mat-row *matRowDef="let row; columns: effectiveDisplayedColumns();" class="ib-table__row"
        [class.ib-table__row--expanded]="expandedElement === row"
        [class.ib-table__row--selected]="activeRouteId() && row[activeRowParams()?.dataParamId]?.toString() === activeRouteId()"
      (click)="rowGroup() && (expandedElement = expandedElement === row ? null : row)"></tr>
      @if (rowGroup()) {
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="ib-table__row-group"
        [class.ib-table__row-group--hidden]="expandedElement !== row"></tr>
      }

      <tr *matNoDataRow>
        <td [attr.colspan]="columns().length">
          <div>
            @if (effectiveState() === 'idle') {
              <mat-icon style="color: #888">inbox</mat-icon>
              {{ "common.noItems" | translate }}
            }

            @if (effectiveState() === 'http_error') {
              <mat-icon style="color: #888">error</mat-icon>
              {{ "common.httpError" | translate }}
            }
          </div>
        </td>
      </tr>

        @if (shouldDisplayAggregationFooter()) {
         <tr class="ib-table__rollup-row" mat-footer-row *matFooterRowDef="effectiveDisplayedColumns(); sticky: true"></tr>
      }
    </table>
  </section>
  <mat-paginator class="ib-table__paginator"
    [disabled]="effectiveState() !== 'idle'"
    [style.display]="effectiveTableDef().paginator.hide ? 'none' : 'block'"
    [pageSize]="effectiveTableDef().paginator.pageSize"
    [showFirstLastButtons]="effectiveTableDef().paginator.showFirstLastButtons"
    [pageSizeOptions]="effectiveTableDef().paginator.pageSizeOptions"
    (page)="setPaginatorState({ pageIndex: $event.pageIndex, pageSize: $event.pageSize })"
    />
</div>
<div class="ib-table-mobile">
    @if (isDataSourceReady()) {
      <ib-kai-table-mobile
        [tableName]="__tableName()"
        [displayedColumns]="effectiveDisplayedColumns()"
        [dataSource]="dataSourceForMobile()"
        [state]="effectiveState()"
        [columns]="columns()"
        [rowGroup]="rowGroup()"
        [filter]="filter()"
        [filters]="filters()"
        [headerActions]="headerActions()"
        [actionColumn]="actionColumn()"
        (doExport)="doExport($event)"
        (sortUpdated)="updateSortFromMobile($event)"
        >
      </ib-kai-table-mobile>
    }
</div>
