<ib-filter-button>
  <span ib-filter-name><ng-content></ng-content></span>
  <span ib-filter-value *ngIf="isDirty">
    {{ displayCondition | translate | lowercase }} "{{ displayValue }}"
  </span>

  <section [formGroup]="filter?.form" style="padding: 0.5em 1em 0 1em">
    <section [formGroupName]="name">
      <mat-form-field style="width: 100%">
        <mat-label>{{ "shared.ibFilter.condition" | translate }}</mat-label>
        <mat-select formControlName="operator">
          <mat-option
            *ngFor="let operator of operators"
            [value]="operator.value"
          >
            {{ operator.displayValue | translate }}
          </mat-option>
        </mat-select>
        <mat-error
          >{{ "shared.ibFilter.condition" | translate }}
          {{ "shared.ibForms.errors.required" | translate }}</mat-error
        >
      </mat-form-field>
      <mat-form-field style="width: 100%">
        <mat-label>{{ "shared.ibFilter.value" | translate }}</mat-label>
        <input matInput formControlName="value" />
        <mat-error
          >{{ "shared.ibFilter.value" | translate }}
          {{ "shared.ibForms.errors.required" | translate }}</mat-error
        >
      </mat-form-field>
    </section>
  </section>

  <ib-filter-actions>
    <ib-apply-filter-button (click)="applyFilter()"></ib-apply-filter-button>
    <ib-clear-filter-button (click)="clear()" [disabled]="!isDirty">
    </ib-clear-filter-button>
  </ib-filter-actions>
</ib-filter-button>
