
::ng-deep mat-dialog-container {
  background: #4040408c !important;
  backdrop-filter: blur(10px);
  animation: open .2s linear 0s;

}
@keyframes open {
  from { backdrop-filter: blur(0px)}
  to { backdrop-filter: blur(10px)}
}
