<form (ngSubmit)="onSubmit()" [formGroup]="form" class="ibForm">

  <ng-container *ngFor="let field of fields">
    <ng-container [ngSwitch]="field.role">
      <ib-dynamic-form-control *ngSwitchCase="'control'" class="ibFormRow" [base]="asFormControl(field)" [form]="form"></ib-dynamic-form-control>
      <ib-dynamic-form-array *ngSwitchCase="'array'" class="ibFormRow" [base]="asFormArray(field)" [form]="form"></ib-dynamic-form-array>
    </ng-container>
  </ng-container>

  <div class="ibFormRow ibFormActions">
    <button type="submit" [disabled]="!form.valid">Save</button>
  </div>
</form>