ib-table .hover:hover{
  opacity: .5 !important;
}

.mat-sort-header-container {
  align-items: center;
  cursor: none !important;
}
th {
  color: #555;
  font-weight: normal;
  padding: 15px;
  margin-bottom: 20px;
}

table ::ng-deep .table-header > th.ib-column-sticky {
  z-index: 100;
  background-color: inherit;
}

thead.ib-header-sticky {
  position: sticky;
  top: 0;
  z-index: 109;
}

table ::ng-deep .ib-footer-sticky {
  position:sticky;
  bottom: 0;
  z-index: 109;
}

/* TODO(mdc-migration): The following rule targets internal classes of paginator that may no longer apply for the MDC version. */
mat-paginator ::ng-deep .mat-mdc-paginator-container {
  justify-content: flex-start !important;
  background-color: inherit;
}
/* TODO(mdc-migration): The following rule targets internal classes of paginator that may no longer apply for the MDC version. */
mat-paginator ::ng-deep button {
  transform: scale(0.8);
}
/* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
mat-paginator ::ng-deep .mat-form-field-underline {
  display: none;
}
/* TODO(mdc-migration): The following rule targets internal classes of input that may no longer apply for the MDC version. */
mat-paginator ::ng-deep .mat-input-flex {
  background-color: gray;
  border-radius: 10px;
  padding-left: 15px;
  padding-right: 10px;
  padding-bottom: 0;
  margin-top: 10px;
}
/* TODO(mdc-migration): The following rule targets internal classes of input that may no longer apply for the MDC version. */
mat-paginator ::ng-deep .mat-input-infix {
  border-top: 0 !important;
}
.table-header-title-custom ::ng-deep button{
  cursor: default;
}

.table-header-title{
  text-align: left;
  cursor: pointer;
}
