<form (ngSubmit)="onSubmit()" [formGroup]="form" class="ibForm">

  <ib-material-form-control *ngFor="let field of fields" class="ibFormRow" [base]="field" [form]="form"></ib-material-form-control>

  <div class="ibFormRow ibFormActions">
    <button
      (click)="handleActionClick(action)"
      [type]="action.key === 'submit' ? 'submit' : 'button'"
      [disabled]="(action.key === 'submit' || action.options?.requireValidation) && !form.valid"
      mat-button
      [color]="action.options?.color || 'primary'"
      *ngFor="let action of actions">{{action.label | translate}}</button>
  </div>
</form>