<ng-template formControlHost></ng-template>
<ng-template #formControlErrors>
  @if (hasError('required')) {
    <span>
      {{base.label | translate}} {{ 'shared.ibForms.errors.required' | translate }}
    </span>
  }
  @else if (hasError('minlength')) {
    <span>
      {{base.label | translate}} {{ 'shared.ibForms.errors.minlength' | translate:{v:getMinLength()} }}
    </span>
  }
  @else if (hasError('maxlength')) {
    <span>
      {{base.label | translate}} {{ 'shared.ibForms.errors.maxlength' | translate:{v:getMaxLength()} }}
    </span>
  }
  @else if (hasError('min')) {
    <span>
      {{base.label | translate}} {{ 'shared.ibForms.errors.min' | translate:{v:getMin()} }}
    </span>
  }
  @else if (hasError('max')) {
    <span>
      {{base.label | translate}} {{ 'shared.ibForms.errors.max' | translate:{v:getMax()} }}
    </span>
  }
  @else if (hasError('email')) {
    <span>
      {{ 'shared.ibForms.errors.email' | translate }}
    </span>
  }
  @else if (hasError('matDatepickerParse')) {
    <span>
      {{ 'shared.ibForms.errors.date' | translate:{v:getDateParseError()} }}
    </span>
  }
  @else if (getCustomError(); as customError) {
    <span>
      {{ customError.message | translate:customError.params }}
    </span>
  }
</ng-template>
