<div [formGroup]="form">
  <div [ngSwitch]="base.controlType">

    <mat-form-field appearance="fill" *ngSwitchCase="'textbox'">
      <mat-label>{{base.label}}</mat-label>
      <input
        matInput
        [formControlName]="base.key"
        [id]="base.key"
        [type]="base.type"
        [placeholder]="base.label">
      <mat-error *ngIf="hasError('required')">
        {{base.label}} is <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="hasError('email') && !hasError('required')">
        Please enter a valid email address
      </mat-error>
    </mat-form-field>
    
    <mat-form-field appearance="fill" *ngSwitchCase="'dropdown'">
      <mat-label>{{base.label}}</mat-label>
      <mat-select [formControlName]="base.key" name="food">
        <mat-option *ngFor="let opt of base.options" [value]="opt.key">
          {{opt.value}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="hasError('required')">
        {{base.label}} is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <div *ngSwitchCase="'radio'">
      <label [attr.for]="base.key" style="display: block">{{base.label}}</label>
      <mat-radio-group [formControlName]="base.key">
        <mat-radio-button style="margin: 5px" *ngFor="let opt of base.options" [value]="opt.key">
          {{opt.value}}
        </mat-radio-button>
      </mat-radio-group>
      <mat-error *ngIf="hasError('required')">
        {{base.label}} is <strong>required</strong>
      </mat-error>
    </div>

  </div>
</div>