@use "@angular/material" as mat;

:host {
  --ib-table-min-content-height: 0px;

  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  min-height: 0;
  overflow: hidden;
  padding: 30px;
  @include mat.table-density(-2);
}

.table-wrapper {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  min-height: 0;
  overflow: hidden;
}

ib-kai-table {
  flex: 1 1 auto;
  min-height: 0;
}
