<form (ngSubmit)="onSubmit()" [formGroup]="form" class="ibForm">
  <div
    class="ibFormActions"
    fxLayout="row"
    fxLayoutAlign="end"
    fxLayoutGap="20px"
    *ngIf="[ibMatActionsPosition.BOTH, ibMatActionsPosition.TOP].indexOf(actionsPosition) > -1"
    >
    <ib-material-form-control
      *ngFor="let action of simpleActions"
      class="ibFormRow"
      [base]="action"
      [form]="form"
    ></ib-material-form-control>
    <ib-material-form-control
      *ngIf="submitAction"
      class="ibFormRow"
      [base]="submitAction"
      [form]="form"
    ></ib-material-form-control>
  </div>

  <mat-grid-list class="ib-material-form-grid" *ngIf="cols" [cols]="cols" [rowHeight]="rowHeight">
    <mat-grid-tile
        *ngFor="let field of fields"
        [colspan]="field.cols"
        [rowspan]="field.rows">
        <ng-container [ngSwitch]="field.role">
          <ib-material-form-control
            *ngSwitchCase="'control'"
            class="ibFormRow"
            [base]="asFormControl(field)"
            [form]="form"
            [fxFlex]="field.width"
          ></ib-material-form-control>
        </ng-container>
    </mat-grid-tile>
  </mat-grid-list>

  <div fxLayout="row wrap"  *ngIf="!cols">
    <ng-container *ngFor="let field of fields">
      <ng-container [ngSwitch]="field.role">
        <ib-material-form-control
          *ngSwitchCase="'control'"
          class="ibFormRow"
          [base]="asFormControl(field)"
          [form]="form"
          [fxFlex]="field.width"
        ></ib-material-form-control>
        <ib-material-form-array
          *ngSwitchCase="'array'"
          class="ibFormRow"
          [base]="asFormArray(field)"
          [form]="form"
          [fxFlex]="field.width"
        ></ib-material-form-array>
      </ng-container>
    </ng-container>
  </div>

  <div
    class="ibFormActions"
    fxLayout="row"
    fxLayoutAlign="end"
    fxLayoutGap="20px"
    *ngIf="[ibMatActionsPosition.BOTH, ibMatActionsPosition.BOTTOM].indexOf(actionsPosition) > -1"
    >
    <ib-material-form-control
      *ngFor="let action of simpleActions"
      class="ibFormRow"
      [base]="action"
      [form]="form"
    ></ib-material-form-control>
    <ib-material-form-control
      *ngIf="submitAction"
      class="ibFormRow"
      [base]="submitAction"
      [form]="form"
    ></ib-material-form-control>
  </div>
</form>
