body {
  background-color: var(--mat-app-background-color);
  color: var(--mat-app-text-color);
  font-family: 'Roboto', sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

* {
  box-sizing: border-box;
}
